<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1><p> Team Name: <%=@teaminfo[:name]%></p></h1>
   <h3><p> Coach: <%=@teaminfo[:coach]%></p></h3>
    <h3><p> Point Guard: <%=@teaminfo[:pg]%></p></h3>
    <h3><p> Shooting Guard: <%=@teaminfo[:sg]%></p> </h3>
    <h3><p> Power Forward: <%=@teaminfo[:pf]%></p></h3>
    <h3><p> Small Forward: <%=@teaminfo[:sf]%></p></h3>
    <h3><p> Center: <%=@teaminfo[:c]%></p></h3>
 </body>
</html>


